* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

div {
    position: absolute;
    width: 100%;
    height: 100%;
}

#gamebar {
    width: 100%;
    height: auto;
    font-size: 300%;
}

#gamebar div {
    position: static;
    width: auto;
    height: 100%;
}

#gamebar_left {
    float: left;
}

#gamebar_right {
    float: right;
}

.choices:hover {
    cursor: pointer;
}

canvas {
    display: block;
}

.prompt-bg {
    background-color: rgba(255, 0, 0, 30%);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    top: 25%;
    background-color: rgba(255, 0, 0, 40%);
}

.center .info {
    text-align: center;
    font-size: 500%;
}

#tryagain,
#pause,
#normal {
    visibility: hidden;
}