* {
    margin: 0;
    padding: 0;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
}

div {
    position: absolute;
    width: 100%;
    height: 100%;
}

#score {
    float: left;
    font-size: 500%;
}

#harder {
    float: right;
    font-size: 300%;
}

canvas {
    display: block;
}

.prompt-bg {
    background-color: rgba(255, 0, 0, 40%);
}

div .center {
    width: 100%;
    height: 50%;
    top: 25%;
    background-color: rgba(255, 0, 0, 50%);
}

.center .info {
    text-align: center;
    font-size: 500%;
}

#tryagain,
#pause {
    visibility: hidden;
}